<% if @wiki.private? %>
  <div>
    <% if @wiki.collaborators.any? %>
      <% @wiki.collaborators.each do |c| %>
        <h5><%= c.user.email %></h5>
        <%= link_to "Remove Collaborator", wiki_collaborator_path(@wiki, c), method: :delete, class: 'btn btn-danger btn-sm', data: {confirm: 'Are you sure you want to delete this collaborator?'} %>
      <% end %>
    <% else %>
      <p>No collaborators for this Wiki yet</p>
    <% end %>
  </div>
<% end %>
