// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.wiki-btn {
	color: #fff;
	background-color: #51B8B8;
	border-color: #2e6da4;
}
